<section id="about" class="about">
  <div class="container py-5">
    <div class="card-about" style="width: 55rem;">
      <div class="card-body">
        <h1 class="text-center mb-4 py-5">About</h1>
        <h5 class="card-title ml-5">Bonjour, Je m'appelle MENEKDEM DJENIE ! âgée de 22 ans et suis titulaire d'une licence en génie logiciel à l'institut NANFAH.Passionnée par la création de sites modernes, performants et intuitifs.J'aime concevoir des applications web qui offrent une bonne expérience utilisateur et répondent à des besoins concrets.</h5>
        <h5 class="card-text ml-5">Je me forme activement sur les technologies de la programmation web en réalisant régulièrement des projets personnels ou pour des indépendants. Je t'invite à jetter un œil à mes projets pour découvrir mon univers et mes dernières réalisations.</h5>
      </div>
    </div>
  </div>
</section>
