{% load static %}
<section id="competence" class="competence">
  <div class="container py-5">
    <div class="card-competence" style="width: 55rem;">
      <div class="card-body">
        <h1 class="text-center mb-4 py-5">Compétences</h1>
        <div class="row align-items-center mb-4">
          <div class="col-12 col-md-3">
            <h6>Langage Front-end:</h6>
          </div>
          <div class="col-12 col-md-9">
            <div class="row text-center">
              <div class="col-3 col-sm-2 col-lg-3 mb-3">
                <img src="{% static 'img/logo_html.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style="font-size: 0.7rem;">HTML</p>
              </div>

              <div class="col-3 col-sm-2 col-lg-3 mb-3">
                <img src="{% static 'img/logo_css.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style=" font-size:0.7rem;">CSS</p>
              </div>
              <div class="col-3 col-sm-2 col-lg-3 mb-3">
                <img src="{% static 'img/c-sharp.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style=" font-size:0.7rem;">C-sharp</p>
              </div>
              <div class="col-3 col-sm-2 col-lg-3 mb-3">
                <img src="{% static 'img/logo_javascript.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style=" font-size:0.7rem;">javascript</p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3">
            <h6>Langage Back-end:</h6>
          </div>
          <div class="col-12 col-md-9">
            <div class="row text-center">
              <div class="col-3 col-sm-2 col-lg-3 mb-3">
                <img src="{% static 'img/logo_python.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style=" font-size:0.7rem;">PYTHON</p>
              </div>

              <div class="col-3 col-sm-2 col-lg-3 mb-3">
                <img src="{% static 'img/logo_sql.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style=" font-size:0.7rem;">SQL</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center mb-4">
          <div class="col-12 col-md-3">
            <h6>Framework:</h6>
          </div>
          <div class="col-12 col-md-9">
            <div class="row text-center">
              <div class="col-3 col-sm-2 col-lg-3 mb-3">
                <img src="{% static 'img/django.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style=" font-size:0.7rem;">DJANGO</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center mb-4">
          <div class="col-12 col-md-3">
            <h6>Logiciel:</h6>
          </div>
          <div class="col-12 col-md-9">
            <div class="row text-center">
              <div class="col-3 col-sm-2 col-lg-3 mb-3">
                <img src="{% static 'img/logo_vscode.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style=" font-size:0.7rem;">VSCODE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
