{% load static %}
<section class="service">
  <h3 class="h3 service-title">Compétences</h3>
  <ul class="service-list">
    <li class="service-item">
      <div class="service-icon-box">
        <img src="{% static 'img/images/icon-design.svg' %}
                " alt="design icon" width="40" />
      </div>
      <div class="service-content-box">
        <h4 class="h4 service-item-title">Front-end</h4>
        <div class="service-item-text">

          <div class="items-item">
            <img src="{% static 'img/logo_html.svg' %}" alt="" width="32" height="40" />
            <p class="mb-0" style="font-size: 0.7rem;">HTML</p>
          </div>

          <div class="items-item">
            <img src="{% static 'img/logo_css.svg' %}" alt="" width="32" height="40" />
            <p class="mb-0" style=" font-size:0.7rem;">CSS</p>
          </div>

          <div class="items-item">
            <img src="{% static 'img/c-sharp.svg' %}" alt="" width="32" height="40" />
            <p class="mb-0" style=" font-size:0.7rem;">C-sharp</p>
          </div>

          <div class="items-item">
            <img src="{% static 'img/logo_javascript.svg' %}" alt="" width="32" height="40" />
            <p class="mb-0" style=" font-size:0.7rem;">javascript</p>
          </div>

        </div>
      </div>
    </li>
    <li class="service-item">
      <div class="service-icon-box">
        <img src="{% static 'img/images/icon-dev.svg' %}" alt="Web development icon" width="40" />
      </div>
      <div class="service-content-box">
        <h4 class="h4 service-item-title">Back-end</h4>
        <div class="service-item-text">

          <div class="items-item">
            <img src="{% static 'img/logo_python.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style=" font-size:0.7rem;">PYTHON</p>
          </div>

          <div class="items-item">
            <img src="{% static 'img/logo_sql.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style=" font-size:0.7rem;">SQL</p>
          </div>

        </div>
      </div>
    </li>
    <li class="service-item">
      <div class="service-icon-box">
        <img src="{% static 'img/images/icon-app.svg' %}" alt="mobile app icon" width="40" />
      </div>
      <div class="service-content-box">
        <h4 class="h4 service-item-title">Framework</h4>
        <div class="service-item-text">

          <div class="items-item">
            <img src="{% static 'img/django.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style=" font-size:0.7rem;">DJANGO</p>
          </div>

        </div>
      </div>
    </li>
    <li class="service-item">
      <div class="service-icon-box">
        <img src="{% static 'img/images/icon-photo.svg' %}" alt="camera icon" width="40" />
      </div>
      <div class="service-content-box">
        <h4 class="h4 service-item-title">Logiciel</h4>
        <div class="service-item-text">

          <div class="items-item">
            <img src="{% static 'img/logo_vscode.svg' %}" alt="" width="32" height="40" />
                <p class="mb-0" style=" font-size:0.7rem;">VSCODE</p>
          </div>

        </div>
      </div>
    </li>
  </ul>
</section>
