<section id="contact" class="contact">
  <h1 class="text-center mb-4 py-5">contact</h1>
  <h6 class="text-center mb-4">Vous souhaitez en savoir plus ou discuter d'un projet ? Parlons-en ensemble.</h6>

  {% if success %}
    <p id="success-message" class="text-success text-center">{{ success }}</p>
  {% endif %}
  <script>
   document.addEventListener("DOMContentLoaded", function () {
    let message = document.getElementById("success-message");

    if (message) {
        setTimeout(function () {
            message.style.display = "none";
        }, 5000);
    }
});
  </script>
  <div class="container d-flex justify-content-center pt-5">
    <div class="card-contact px-4" style="width: 25rem ;">
      <!-- pour que le message soit Envoyer -->
      <form method="POST" action="{% url 'contact' %}">
        {% csrf_token %}

        <div class="form-row">
          <div class="form-group px-1 rounded-pill px-4" style="width:50% ">
            <label for="inputNom">Nom</label>
            <input type="text" name="nom" class="form-control rounded-pill px-4" id="inputNom" placeholder="votre nom" />
          </div>

          <div class="form-group px-1" style="width:50% ">
            <label for="inputPrénom">Prénom</label>
            <input type="text" name="prenom" class="form-control rounded-pill px-4" id="inputPrénom" placeholder="votre Prénom" />
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmails">Email</label>
          <input type="text" name="email" class="form-control rounded-pill px-4" id="inputEmail" placeholder="@gmail.com" />
        </div>

        <div class="form-group">
          <label for="inputSujet">Sujet</label>
          <input type="text" name="sujet" class="form-control rounded-pill px-4" id="inputSujet" placeholder="A quel sujet ?" />
        </div>

        <div class="form-group">
          <label for="exampleFormControlMessage">Message</label>
          <textarea name="message" class="form-control rounded-pill px-4" id="exampleFormControlMessage" rows="3" placeholder="Laissez un message..."></textarea>
        </div>
        <button type="submit" class="btn btn-outline-danger rounded-pill px-4">Envoyer</button>
      </form>
      <!-- </div> -->
    </div>
  </div>
</section>
