{% comment %} <section id="project2" class="project ">
  <div class="container">
    <h1 class="text-center mb-4 py-3">Projets</h1>

    <div class="row row-cols-1 row-cols-md-2">
      <div class="col-12 col-md-5 mb-4">
        <div class="card h-100 col-lg-10 shadow-sm">
          <img src="https://tse2.mm.bing.net/th/id/OIP.0-PCBk-2_6OKblaNxjVJkgHaEI?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Gostorestaurant</h5>
            <p class="card-text">Plateforme permettant la gestion du restaurant</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 mb-4">
        <div class="card h-100 col-lg-10 shadow-sm">
          <img src="https://tse2.mm.bing.net/th/id/OIP.OOb8POLaIVGeY3UiPggG8gHaEx?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Portfolio</h5>
            <p class="card-text">Portfolio personnel moderne et responsive.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 mb-4">
        <div class="card h-100 col-lg-10 shadow-sm">
          <img src="https://tse3.mm.bing.net/th/id/OIP.ZufsaAarWM_4G5tmw8Z9_AHaD4?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">NAGIOS</h5>
            <p class="card-text">NAGIOS est une Application permettant la surveillance système et réseau</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 mb-4">
        <div class="card h-100 col-lg-10 shadow-sm">
          <img src="https://tse1.mm.bing.net/th/id/OIP.jhUEWgboWklNXQeCYbdv1QHaEQ?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Dashboard</h5>
            <p class="card-text">Tableau de bord interactif avec statistiques.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}





      <article class="portfolio" data-page="portfolio">
        <header>
          <h2 class="h2 article-title">Mes travaux</h2>
        </header>
        <section class="projects">
          <ul class="filter-list">
            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>
            <li class="filter-item">
              <button data-filter-btn>C#</button>
            </li>
            <li class="filter-item">
              <button data-filter-btn>Python</button>
            </li>
            <li class="filter-item">
              <button data-filter-btn>Reseaux</button>
            </li>
          </ul>
          <div class="filter-select-box">
            <button class="filter-select" data-select>
              <div class="select-value" data-selecct-value>Select category</div>
              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>
            </button>
            <ul class="select-list">
              <li class="select-item">
                <button data-select-item>All</button>
              </li>
              <li class="select-item">
                <button data-select-item>C#</button>
              </li>
              <li class="select-item">
                <button data-select-item>Python</button>
              </li>
              <li class="select-item">
                <button data-select-item>Reseaux</button>
              </li>
            </ul>
          </div>
          <ul class="project-list">
            <li class="project-item  active" data-filter-item data-category="c#">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="https://tse2.mm.bing.net/th/id/OIP.0-PCBk-2_6OKblaNxjVJkgHaEI?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" alt="Gostorestaurant" loading="lazy">
                </figure>
                <h3 class="project-title">Gostorestaurant</h3>
                <p class="project-category">C#</p>
              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="python">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="https://tse2.mm.bing.net/th/id/OIP.OOb8POLaIVGeY3UiPggG8gHaEx?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" alt="Portfolio" loading="lazy">
                </figure>
                <h3 class="project-title">Portfolio</h3>
                <p class="project-category">Python</p>
              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="reseaux">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="https://tse3.mm.bing.net/th/id/OIP.ZufsaAarWM_4G5tmw8Z9_AHaD4?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" alt="NAGIOS" loading="lazy">
                </figure>
                <h3 class="project-title">NAGIOS</h3>
                <p class="project-category">Reseaux</p>
              </a>
            </li>
          </ul>
        </section>
      </article>
