
      <article class="resume" data-page="resume">
        <header>
          <h2 class="h2 article-title">Formation</h2>
        </header>
        <section class="timeline">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>
            <h3 class="h3">Education</h3>
          </div>
          <ol class="timeline-list">
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Universite Nanfack - Licence</h4>
              <span>2024 — 2025</span>
              <p class="timeline-text">
                Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores etVisual Art & Design
                quas molestias
                exceptur.
              </p>
            </li>
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Universite Sigmen - BTS</h4>
              <span>2023 — 2024</span>
              <p class="timeline-text">
                Ratione voluptatem sequi nesciunt, facere quisquams facere menda ossimus, omnis voluptas assumenda est
                omnis..
              </p>
            </li>
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">College Intac - Baccalaureat</h4>
              <span>2021 — 2022</span>
              <p class="timeline-text">
                Duis aute irure dolor in reprehenderit in voluptate, quila voluptas mag odit aut fugit, sed consequuntur
                magni dolores
                eos.Clip Art & Animated GIFs
              </p>
            </li>
          </ol>
        </section>
        <section class="timeline">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>
            <h3 class="h3">Experience</h3>
          </div>
          <ol class="timeline-list">
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Stage Developpement web - Nextget Consulting</h4>
              <span>Juin 2026 — Present</span>
              <p class="timeline-text">
                Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, quos dolores et qvuas
                molestiasGraphic Design
                exceptur.
              </p>
            </li>
          </ol>
        </section>
      </article>
